[Unit]
Description=Mount a block device using udisks

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/udisksctl mount --block-device=/dev/disk/by-label/%i --no-user-interaction
ExecStop=/usr/bin/udisksctl unmount --block-device=/dev/disk/by-label/%i --no-user-interaction

[Install]
WantedBy=default.target
