[Unit]
Description=Touchegg Client, a multi-touch gesture recognizer
After=touchegg.service

[Service]
Type=exec
ExecStart=/usr/bin/touchegg --client
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
